<!-- The single-page of this single-page Oomain app. -->
<!DOCTYPE HTML>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Oomain Workout</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
       content="width=device-width, initial-scale=1.0, shrink-to-fit=no,
                maximum-scale=1.0, user-scalable=no">

  </head>
  <body style="background:#333; color:#ccc">

    <div id="oomain">

      <div id="temporary-routes-menu" style="background:#999">
        <span v-for="route in OomBoxRouter.routes">
          &nbsp; <a v-bind:href="'#/'+route.tag">{{ route.title }}</a>
        </span>
      </div>

      <!-- The current grid of Renderables. -->
      <aside id="oomain-grid">
        <ul>
          <li v-for="renderable in grid">{{ renderable.title }}</li>
        </ul>
      </aside>

      <!-- The current Popup goes here. -->
      <aside id="oomain-popup"></aside>

    </div>

    <!-- Boot the app. -->
    <script type="module">import './oomain.mjs';</script>

  </body>
</html>
